<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bova</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/oo.css">


</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0">Bova</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/bova/menu">Menu</a>
                    <a class="nav-link" href="/bova/onlineorder">Order Online</a>
                    <a class="nav-link" href="/bova/reserve">Reserve</a>
                    <a class="nav-link active" href="/bova/cart">Cart</a>


                </nav>
            </div>
        </header>
        <main class="px-3">
            <div class="row">
                <h1 class="text-center">Cart</h1>
                <div class="col-6 offset-3">
                    <form action="/reservations" method="POST" novalidate class = "validated-form">
                        <div class="mb-3">
                
                            
                        </div>
            
                        
                        
                        
                        <div class="mb-3">
                            <button class="btn btn-success">Checkout</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>

        <footer class="mt-auto text-white-50">
            Bova Los Angeles
            <p>&copy; 2023 </p>
        </footer>


    </div>
    <script>
            (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.validated-form')

    // Loop over them and prevent submission
    Array.from(forms)
        .forEach(function (form) {
        form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
            }

            form.classList.add('was-validated')
        }, false)
        })
    })()
    </script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>






<!-- <button shape="Rectangle" size="16" kind="BUTTON/PLAIN" aria-label="Small KFC $16.00" type="button" class="styles__StyledButtonRoot-sc-1ldytso-0 kiOQgE"><span kind="BUTTON/PLAIN" class="Inset__StyledInset-sc-1phi2ey-0 jbAQCa styles__ContentWrapper-sc-1ldytso-2 hasZAr"><span class="InlineChildren__StyledInlineChildren-sc-6r2tfo-0 gviwpu"><span class="styles__MainContentContainer-sc-1ldytso-3 qvNNS"><span overflow="truncate" display="block" class="styles__TextElement-sc-3qedjx-0 dKutih"><div class="sc-31297892-0 bPOnyA"><div data-testid="GenericItemCard" class="sc-8370928c-0 kzJmQw"><div class="Stack__StyledStack-sc-vzfcgq-0 gPJdZR"><div class="sc-8370928c-1 kuCeHt"><h3 display="block" overflow="truncate" data-telemetry-id="storeMenuItem.title" class="styles__TextElement-sc-3qedjx-0 jFOyzX">Small KFC</h3></div></div><div class="Stack__StyledStack-sc-vzfcgq-0 gPJdZR"><span display="block" data-telemetry-id="storeMenuItem.subtitle" color="TextTertiary" overflow="truncate" class="styles__TextElement-sc-3qedjx-0 jWHelY sc-31297892-2 iTExTD">Boneless Korean-Fried-Chicken with homemade sweet &amp; sour sauce and radish pickles</span></div><div class="InlineChildren__StyledInlineChildren-sc-6r2tfo-0 dRqGTX"><div class="Stack__StyledStack-sc-vzfcgq-0 gPJdZR"><div data-test-id="formatted-dynamic-string" class="InlineChildren__StyledInlineChildren-sc-6r2tfo-0 dRqGTX"><span display="block" color="TextSecondary" class="styles__TextElement-sc-3qedjx-0 geKEgL"><div class="InlineChildren__StyledInlineChildren-sc-6r2tfo-0 lnjTEj"><span overflow="truncate" display="block" data-anchor-id="StoreMenuItemPrice" class="styles__TextElement-sc-3qedjx-0 fQKCUa">$16.00</span><span>•</span><span class="sc-31297892-5 eOzMhb"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="styles__StyledInlineSvg-sc-12l8vvi-0 djCUZq"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.5376 0C9.36717 0 8.42079 0.712464 7.98163 1.62489C7.47375 2.68009 6.70308 3.43763 5.36893 3.78639C5.08156 3.03421 4.35317 2.5 3.5 2.5H2C0.89543 2.5 0 3.39543 0 4.5V11.5C0 12.6046 0.89543 13.5 2 13.5H3.5C4.16224 13.5 4.74931 13.1781 5.1133 12.6823C5.91331 12.8624 6.63543 13.1556 7.33117 13.4701C7.45032 13.5239 7.57934 13.5835 7.71302 13.6452L7.71418 13.6457L7.84131 13.7043C8.14026 13.8421 8.45389 13.9848 8.72744 14.0954C9.15864 14.2697 9.79896 14.5 10.4999 14.5C12.0518 14.5 13.3411 13.7045 13.8452 13.3605C14.5305 12.8929 14.8995 12.2003 15.03 11.5476L15.7219 8.08838C16.0855 6.27058 14.7316 4.57207 12.8976 4.50224C13.0073 4.16501 13.1138 3.81387 13.2097 3.46045C13.7117 1.61089 12.2529 0 10.5376 0ZM10.5773 5.07354C10.3224 5.75111 10.8159 6.5 11.5398 6.5H12.7802C13.4112 6.5 13.8845 7.07733 13.7608 7.69613L13.0689 11.1553C13.0243 11.3784 12.9058 11.5802 12.7179 11.7085C12.2884 12.0016 11.4223 12.5 10.4999 12.5C10.0045 12.5 9.38142 12.2123 8.60789 11.8552C7.76189 11.4646 6.7359 10.9909 5.5 10.7196V5.80852C6.95968 5.50387 8.0647 4.84457 8.87913 3.89467C9.06296 3.68026 9.23198 3.45105 9.38694 3.20777C9.52469 2.9915 9.65133 2.7641 9.76736 2.5261L9.78375 2.49228C9.92456 2.19972 10.2129 2 10.5376 2C11.0366 2 11.4103 2.45493 11.2795 2.93655C11.0749 3.6906 10.8117 4.45039 10.5773 5.07354ZM3.5 9.5V7V4.5H2V11.5H3.5V9.5Z" fill="#494949"></path></svg></span>85% (48)</div></span></div></div></div><div class="InlineChildren__StyledInlineChildren-sc-6r2tfo-0 gNFQIV"></div></div><div class="sc-31297892-1 hKyAGk"><div class="sc-e025fb02-0 eAjkzI"><div></div></div></div><div class="sc-2dcc1d63-15 lfYUoH"><div class="StackChildren__StyledStackChildren-sc-5x3aej-0 fNxhMJ"></div></div></div></span></span></span></span></button>
             -->







<!-- 


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bova</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/cart.css">
    <!-- <link rel="stylesheet" href="/public/stylesheets/home.css"> -->
<!-- 
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0">Bova</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/bova/menu">Menu</a>
                    <a class="nav-link" href="/bova/reserve">Reserve</a>
                    <a class="nav-link active" href="/bova/cart">Cart</a>


                </nav>
            </div>
        </header>
        <main class="px-3">
            <h1 class="">Menu</h1> 
            <h4>Bread and Snacks</h4>
            <div class="card" mb-3>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" alt="" src="https://goldbelly.imgix.net/uploads/showcase_media_asset/image/145837/Girl-and-the-Goat-Pork-Shank-Autumn-2021-9.29.21-72ppi-1x1-30.jpg?ixlib=react-9.0.2&auto=format&ar=1%3A1&w=1946">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"> sticky glazed pork shank </h5>
                            <p class="card-text"> nectarine . spring onion . hoisin mayo . hot mustard . naan . lettuce cups </p>
                            <p class="card-text">
                                <small class="text-muted"> 42 </small>
                            </p>
                            <a class="btn btn-primary" href="/campgrounds/">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </main>

        <footer class="mt-auto text-white-50">
            Bova Los Angeles
            <p>&copy; 2023 </p>
        </footer>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>















 --> 




