<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bova</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <!-- <link rel="stylesheet" href="/public/stylesheets/home.css"> -->

</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0">Bova</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/bova/menu">Menu</a>
                    <a class="nav-link" href="/bova/reserve">Reserve</a>
                    <a class="nav-link active" href="/bova/cart">Cart</a>


                </nav>
            </div>
        </header>
        <main class="px-3">
            <h1 class="">Menu</h1>
            <h4>Bread and Snacks</h4>
            <div class="card" mb-3>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" alt="" src="https://goldbelly.imgix.net/uploads/showcase_media_asset/image/145837/Girl-and-the-Goat-Pork-Shank-Autumn-2021-9.29.21-72ppi-1x1-30.jpg?ixlib=react-9.0.2&auto=format&ar=1%3A1&w=1946">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"> sticky glazed pork shank </h5>
                            <p class="card-text"> nectarine . spring onion . hoisin mayo . hot mustard . naan . lettuce cups </p>
                            <p class="card-text">
                                <small class="text-muted"> 42 </small>
                            </p>
                            <a class="btn btn-primary" href="/campgrounds/">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" alt="" src="https://goldbelly.imgix.net/uploads/showcase_media_asset/image/145837/Girl-and-the-Goat-Pork-Shank-Autumn-2021-9.29.21-72ppi-1x1-30.jpg?ixlib=react-9.0.2&auto=format&ar=1%3A1&w=1946">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"> sticky glazed pork shank </h5>
                            <p class="card-text"> nectarine . spring onion . hoisin mayo . hot mustard . naan . lettuce cups </p>
                            <p class="card-text">
                                <small class="text-muted"> 42 </small>
                            </p>
                            <a class="btn btn-primary" href="/campgrounds/">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <h4>Salads</h4>
            <div class="card" mb-3>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" alt="" src="https://goldbelly.imgix.net/uploads/showcase_media_asset/image/145837/Girl-and-the-Goat-Pork-Shank-Autumn-2021-9.29.21-72ppi-1x1-30.jpg?ixlib=react-9.0.2&auto=format&ar=1%3A1&w=1946">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"> sticky glazed pork shank </h5>
                            <p class="card-text"> nectarine . spring onion . hoisin mayo . hot mustard . naan . lettuce cups </p>
                            <p class="card-text">
                                <small class="text-muted"> 42 </small>
                            </p>
                            <a class="btn btn-primary" href="/campgrounds/">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" alt="" src="https://goldbelly.imgix.net/uploads/showcase_media_asset/image/145837/Girl-and-the-Goat-Pork-Shank-Autumn-2021-9.29.21-72ppi-1x1-30.jpg?ixlib=react-9.0.2&auto=format&ar=1%3A1&w=1946">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"> sticky glazed pork shank </h5>
                            <p class="card-text"> nectarine . spring onion . hoisin mayo . hot mustard . naan . lettuce cups </p>
                            <p class="card-text">
                                <small class="text-muted"> 42 </small>
                            </p>
                            <a class="btn btn-primary" href="/campgrounds/">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <h4>Veggies</h4>
            <div class="card" mb-3>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" alt="" src="https://goldbelly.imgix.net/uploads/showcase_media_asset/image/145837/Girl-and-the-Goat-Pork-Shank-Autumn-2021-9.29.21-72ppi-1x1-30.jpg?ixlib=react-9.0.2&auto=format&ar=1%3A1&w=1946">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"> sticky glazed pork shank </h5>
                            <p class="card-text"> nectarine . spring onion . hoisin mayo . hot mustard . naan . lettuce cups </p>
                            <p class="card-text">
                                <small class="text-muted"> 42 </small>
                            </p>
                            <a class="btn btn-primary" href="/campgrounds/">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" alt="" src="https://goldbelly.imgix.net/uploads/showcase_media_asset/image/145837/Girl-and-the-Goat-Pork-Shank-Autumn-2021-9.29.21-72ppi-1x1-30.jpg?ixlib=react-9.0.2&auto=format&ar=1%3A1&w=1946">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"> sticky glazed pork shank </h5>
                            <p class="card-text"> nectarine . spring onion . hoisin mayo . hot mustard . naan . lettuce cups </p>
                            <p class="card-text">
                                <small class="text-muted"> 42 </small>
                            </p>
                            <a class="btn btn-primary" href="/campgrounds/">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <h4>Fish</h4>
            <div class="card" mb-3>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" alt="" src="https://goldbelly.imgix.net/uploads/showcase_media_asset/image/145837/Girl-and-the-Goat-Pork-Shank-Autumn-2021-9.29.21-72ppi-1x1-30.jpg?ixlib=react-9.0.2&auto=format&ar=1%3A1&w=1946">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"> sticky glazed pork shank </h5>
                            <p class="card-text"> nectarine . spring onion . hoisin mayo . hot mustard . naan . lettuce cups </p>
                            <p class="card-text">
                                <small class="text-muted"> 42 </small>
                            </p>
                            <a class="btn btn-primary" href="/campgrounds/">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" alt="" src="https://goldbelly.imgix.net/uploads/showcase_media_asset/image/145837/Girl-and-the-Goat-Pork-Shank-Autumn-2021-9.29.21-72ppi-1x1-30.jpg?ixlib=react-9.0.2&auto=format&ar=1%3A1&w=1946">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"> sticky glazed pork shank </h5>
                            <p class="card-text"> nectarine . spring onion . hoisin mayo . hot mustard . naan . lettuce cups </p>
                            <p class="card-text">
                                <small class="text-muted"> 42 </small>
                            </p>
                            <a class="btn btn-primary" href="/campgrounds/">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <h4>Meat</h4>
            <div class="card" mb-3>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" alt="" src="https://goldbelly.imgix.net/uploads/showcase_media_asset/image/145837/Girl-and-the-Goat-Pork-Shank-Autumn-2021-9.29.21-72ppi-1x1-30.jpg?ixlib=react-9.0.2&auto=format&ar=1%3A1&w=1946">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"> sticky glazed pork shank </h5>
                            <p class="card-text"> nectarine . spring onion . hoisin mayo . hot mustard . naan . lettuce cups </p>
                            <p class="card-text">
                                <small class="text-muted"> 42 </small>
                            </p>
                            <a class="btn btn-primary" href="/campgrounds/">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" alt="" src="https://goldbelly.imgix.net/uploads/showcase_media_asset/image/145837/Girl-and-the-Goat-Pork-Shank-Autumn-2021-9.29.21-72ppi-1x1-30.jpg?ixlib=react-9.0.2&auto=format&ar=1%3A1&w=1946">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"> sticky glazed pork shank </h5>
                            <p class="card-text"> nectarine . spring onion . hoisin mayo . hot mustard . naan . lettuce cups </p>
                            <p class="card-text">
                                <small class="text-muted"> 42 </small>
                            </p>
                            <a class="btn btn-primary" href="/campgrounds/">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <h4>Dessert</h4>
            <div class="card" mb-3>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" alt="" src="https://goldbelly.imgix.net/uploads/showcase_media_asset/image/145837/Girl-and-the-Goat-Pork-Shank-Autumn-2021-9.29.21-72ppi-1x1-30.jpg?ixlib=react-9.0.2&auto=format&ar=1%3A1&w=1946">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"> sticky glazed pork shank </h5>
                            <p class="card-text"> nectarine . spring onion . hoisin mayo . hot mustard . naan . lettuce cups </p>
                            <p class="card-text">
                                <small class="text-muted"> 42 </small>
                            </p>
                            <a class="btn btn-primary" href="/campgrounds/">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" alt="" src="https://goldbelly.imgix.net/uploads/showcase_media_asset/image/145837/Girl-and-the-Goat-Pork-Shank-Autumn-2021-9.29.21-72ppi-1x1-30.jpg?ixlib=react-9.0.2&auto=format&ar=1%3A1&w=1946">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"> sticky glazed pork shank </h5>
                            <p class="card-text"> nectarine . spring onion . hoisin mayo . hot mustard . naan . lettuce cups </p>
                            <p class="card-text">
                                <small class="text-muted"> 42 </small>
                            </p>
                            <a class="btn btn-primary" href="/campgrounds/">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </main>

        <footer class="mt-auto text-white-50">
            Bova Los Angeles
            <p>&copy; 2023 </p>
        </footer>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>
















