<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bova</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/reserve.css">


</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0">Bova</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/bova/menu">Menu</a>
                    <a class="nav-link" href="/bova/onlineorder">Order Online</a>
                    <a class="nav-link active" href="#">Reserve</a>
                    <a class="nav-link " href="/allitems">Cart</a>


                </nav>
            </div>
        </header>
        <main class="px-3">
            <div class="row">
                <h1 class="text-center">Reservations</h1>
                <div class="col-6 offset-3">
                    <form action="/reservations" method="POST" novalidate class = "validated-form">
                        <div class="mb-3">
                            <label class="form-label" for="name">Name</label>
                            <input class="form-control" type="text" id="name" name="reservation[name]" required>

                            <!-- <div class="valid-feedback">
                                Looks Good!
                            </div> -->
                        </div>
            
                        <div class="mb-3">
                            <label class="form-label" for="size">Party Size</label>
                            <select id="size" name="reservation[size]" required>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                                <option value=10>10</option>
                              </select>
                            <!-- <input class="form-control" type="number" id="location" name="size" placeholder= 2 min=0 max= 10 required> -->
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="date">Date</label>
                            <input type="date" id= "date" value="2023-05-27" name="reservation[date]" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="time">Time</label>
                                <select id="time" name="reservation[time]" required>
                                    <option value="5">5:00 PM</option>
                                    <option value="5.5">5:30 PM</option>
                                    <option value="6">6:00 PM</option>
                                    <option value="6.5">6:30 PM</option>
                                    <option value="7">7:00 PM</option>
                                    <option value="7.5">7:30 PM</option>
                                    <option value="8">8:00 PM</option>
                                    <option value="8.5">8:30 PM</option>
                                    <option value="9">9:00 PM</option>
                                    <option value="9.5">9:30 PM</option>
                                    <option value="10">10:00 PM</option>
                                  </select>
                
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-success">Make Reservation</button>
                        </div>
                    </form>
                    <a href="/allreservations">View All Reservations(for admin)</a>
                </div>
            </div>
        </main>

        <footer class="mt-auto text-white-50">
            Bova Los Angeles
            <p>&copy; 2023 </p>
        </footer>


    </div>
    <script>
            (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.validated-form')

    // Loop over them and prevent submission
    Array.from(forms)
        .forEach(function (form) {
        form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
            }

            form.classList.add('was-validated')
        }, false)
        })
    })()
    </script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>
